# Puerto del servidor
PORT=3000

# JWT Configuration
JWT_SECRET=tu_clave_secreta_super_segura_aqui_cambiarla_en_produccion
JWT_EXPIRATION=24h

# Configuración de la base de datos
DATABASE_URL=postgresql://postgres.[ref]:[password]@aws-0-us-east-1.pooler.supabase.com:6543/postgres

# Ambiente
NODE_ENV=development